/* スタイルシート */
/* 頑張った */
/* コンテナの中央揃え */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* タイマー */
#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 問題と選択肢 */
#question-container {
    width: 80%;
    margin: auto;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    background-color: #f0f8ff; /* 背景色 */
    border: 2px solid #add8e6; /* 枠色 */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#answerInput {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}

#nextButton {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
}

/* 結果ページ */
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanations-container {
    width: 80%;
    margin: auto;
}

.explanation {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.correct-answer {
    color: red; /* 正解の文字色 */
}

/* ボタンのスタイル */
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
.categoryButton {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background-color: white;
}

.categoryButton.selected {
    background-color: #4caf50;
    color: white;
}
#selectedCategoryDisplay {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
